html {
  box-sizing: border-box;
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1024px;
  padding: 0 2rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1023px) {
  .container {
    /* max-width: 96rem; */
  }
}

@media screen and (max-width: 767px) {
    .container {
        /* max-width: 96rem; */
    }
  }

